@tailwind base;
@tailwind components;
@tailwind utilities;

.tlui-help-menu {
	display: none !important;
}

.tlui-debug-panel {
	display: none !important;
}

.tldraw__editor {
	position: fixed;
	inset: 0px;
	overflow: hidden;
}

.your-own-api-key {
	position: absolute;
	bottom: 72px;
	right: 0px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: var(--layer-panels);
	color: var(--color-text-0);
	pointer-events: none;
}

.your-own-api-key__inner {
	display: flex;
	font-size: 12px;
	font-family: Inter, sans-serif;
	flex-direction: row;
	max-width: 300px;
	width: 100%;
	gap: 4px;
	background-color: var(--color-low);
	border-radius: 8px;
	padding: 6px;
	pointer-events: all;
}

.your-own-api-key__mobile {
	bottom: 108px;
}
.your-own-api-key__mobile input {
	bottom: 108px;
	font-size: 16px !important;
	pointer-events: all;
}

.your-own-api-key input {
	padding: 6px 12px;
	border-radius: 4px;
	color: transparent;
	background: var(--color-panel);
	width: 100%;
	height: 32px;
}

.input__wrapper {
	position: relative;
	flex-grow: 2;
}

.input__wrapper:not(:focus-within)::after {
	content: 'Your OpenAI API Key (risky but cool)';
	display: block;
	position: absolute;
	inset: 0px;
	display: flex;
	align-items: center;
	padding: 0px 12px;
	z-index: 999999999;
	background-color: none;
	font-size: 12px;
	font-family: Inter, sans-serif;
	opacity: 1;
}

.input__wrapper::after {
	pointer-events: none;
}

.your-own-api-key input:focus {
	color: var(--color-text-0);
}

.lockup__link {
	position: absolute;
	z-index: var(--layer-panels);
	bottom: 0px;
	right: 0px;
}

.lockup__link__mobile {
	bottom: 60px;
}

.question__button {
	all: unset;
	flex-shrink: 0;
	width: 32px;
	height: 32px;
	background-color: none;
	border-radius: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.lockup__link img {
	height: 40px;
	padding: 8px;
}
